<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fran.screencapturefix</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/fran/Library/Application Support/com.fran.screencapturefix/screencapturefix.sh</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Users/fran/Library/Preferences/com.apple.screencapture.plist</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>PathState</key>
        <dict>
            <key>/private/var/log/wakeups</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
